<div class="container mt-5 bg-secondary">
  <!---Show message-->
  <div *ngIf="successmsg" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{successmsg}}</strong> 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
    <table class="table table-hover table-striped table-dark table-sm">
        <thead class=".thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Celular</th>
            <th scope="col">Nascimento</th>
            <th scope="col">Endereço</th>
            <th scope="col">Cidade</th>
            <th scope="col">CEP</th>
            <th scope="col">Estado</th>
            <th scope="col">Estado Civil</th>
            <th scope="col">Carro</th>
            <th scope="col" id="edit">Editar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = 'let us of readData'>
            <th scope="row">{{us.id}}</th>
            <td>{{us.fullname}}</td>
            <td>{{us.email}}</td>
            <td>{{us.mobile}}</td>
            <td>{{us.databorn}}</td>
            <td>{{us.adress}}</td>
            <td>{{us.city}}</td>
            <td>{{us.cep}}</td>
            <td>{{us.state}}</td>
            <td>{{us.marital}}</td>
            <td>{{us.car}}</td>
            <td><button class="btn btn-sm btn-danger" (click)="deleteID(us.id)">Delete</button>
                &nbsp;
                <a [routerLink]="['/create',us.id]" class="btn btn-sm btn-success">Update</a>
            </td>
          </tr>
        </tbody>
      </table>
</div>